/* Import Google Font - Poppins */
/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Poppins:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}

body {
  background-image: linear-gradient(260deg, #1CD6CE 0%, #293462 100%);
  height: 100vh;
}

.media {
  display: flex;
  justify-content: center;
  max-width: 600px;
}

video {
  width: 100%;
  margin-top: 5%;
  border-radius: 30px;
}

.hands {
  display: flex;
  justify-content: center;
}

.navbar {
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.349);
  padding-bottom: 10px;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1%;
}

#main-nav {
  list-style-type: none;
  display: none;
  flex-direction: column;
}

#main-nav li {
  text-align: center;
  margin: 15px auto;
}

.nav-links,
#logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

#logo:hover,
.nav-links:hover {
  color: rgba(255, 255, 255, 1);
}

#logo {
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
}

#navbar-toggle {
  position: absolute;
  top: 50px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

#navbar-toggle:hover {
  color: rgba(255, 255, 255, 1);
}

@media screen and (min-width: 768px) {

  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 120px;
    align-items: center;
  }

  #main-nav {
    display: flex !important;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  #main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  #logo {
    margin-top: 0;
  }

  #navbar-toggle {
    display: none;
  }

}

::selection {
  color: #fff;
  background: #17A2B8;
}

.wrapper {
  display: flex;
  margin-top: 8%;
  align-items: center;
  justify-content: center;
  /*box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);*/
}

.wrapper .input-field {
  opacity: 0;
  z-index: -999;
  position: absolute;
}

.wrapper .content-box {
  border-radius: 10px;
}

.content-box .typing-text {
  overflow: hidden;
  max-height: fit-content;
}

.typing-text::-webkit-scrollbar {
  width: 0;
}

.typing-text p {
  font-size: 40px;
  text-align: left;
  letter-spacing: 1px;
  word-break: keep-all;
}

.typing-text p span {
  position: relative;
}

.typing-text p span.correct {
  color: #28ee81;
  background: #197d6e;
  border-radius: 10px;

}

.typing-text p span.incorrect {
  color: #8b001e;
  background: #fc785e;
  border-radius: 10px;
}

.typing-text p span.active {
  background: rgba(0, 0, 0, 0);
  color: white;
  border-radius: 10px;

}

.typing-text p span.active::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0;
  border-radius: 5px;
  background: #293462;
  animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

.content-box .content {
  margin-top: 17px;
  display: flex;
  padding: 12px 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #bfbfbf;
}

.content button {
  outline: none;
  border: none;
  width: 105px;
  color: #fff;
  padding: 8px 0;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  background: #17A2B8;
  transition: transform 0.3s ease;
}

.content button:active {
  transform: scale(0.97);
}

.content .result-details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: calc(100% - 140px);
  justify-content: space-between;
}

.result-details li {
  display: flex;
  height: 20px;
  list-style: none;
  position: relative;
  align-items: center;
}

.result-details li:not(:first-child) {
  padding-left: 22px;
  border-left: 1px solid #bfbfbf;
}

.result-details li p {
  font-size: 19px;
}

.result-details li span {
  display: block;
  font-size: 20px;
  margin-left: 10px;
}

li span b {
  font-weight: 500;
}

li:not(:first-child) span {
  font-weight: 500;
}

@media (max-width: 745px) {
  .wrapper {
    padding: 20px;
  }

  .content-box .content {
    padding: 20px 0;
  }

  .content-box .typing-text {
    max-height: 100%;
  }

  .typing-text p {
    font-size: 19px;
    text-align: left;
  }

  .content button {
    width: 100%;
    font-size: 15px;
    padding: 10px 0;
    margin-top: 20px;
  }

  .content .result-details {
    width: 100%;
  }

  .result-details li:not(:first-child) {
    border-left: 0;
    padding: 0;
  }

  .result-details li p,
  .result-details li span {
    font-size: 17px;
  }

  .wrapper .content-box {
    padding: 10px 15px 0;
  }

  .typing-text p {
    font-size: 25px;
  }

  .result-details li {
    margin-bottom: 10px;
  }

  .content button {
    margin-top: 10px;
  }

  video {
    width: 100%;
  }
}