<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body onload="cambiar()">
    <div id="content"></div>
    <script>
        function cambiar() {
            fetch("http://localhost:8000" /*, options */)
                .then((response) => response.text())
                .then((html) => {
                    document.getElementById("container").innerHTML = html;
                })
                .catch((error) => {
                    console.warn(error);
                });
        }
    </script>
</body>

</html>