<!DOCTYPE html>
<html lang="en">

<head>
  <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="{{ url_for('img', path='/LOGO.png') }}" type="image/x-icon">
</head>

<body onload="start()">
  <nav class="navbar">
    <span id="navbar-toggle">
      <i class="fas fa-bars"></i>
    </span>
    <a href="#" id="logo"><img src="{{ url_for('img', path='/LOGO.png') }}" alt="LOGO"></a>
    <ul id="main-nav">
      <li>
        <a href="#" class="nav-links">Inicio</a>
      </li>
      <li>
        <a href="#" class="nav-links">Estadisticas</a>
      </li>
      <li>
        <a href="#" class="nav-links">Login</a>
      </li>
    </ul>
  </nav>

  <audio id="sound-key" controls style="display:none">
    <source src="{{ url_for('audio', path='/type.mp3') }}" type="audio/mpeg"> Your browser does
    not support the audio element.
  </audio>

  <audio id="sound-mistake" controls style="display: none">
    <source src="{{ url_for('audio', path='/mistake.mp3') }}" type="audio/mpeg"> Your browser does
    not support the audio element.
  </audio>


  <div class="wrapper">
    <input type="text" class="input-field">
    <div class="content-box">
      <div class="typing-text">
        <p></p>
      </div>
      <div class="content">
        <ul class="result-details">
          <li class="time">
            <p>Quedan:</p>
            <span><b>60</b>s</span>
          </li>
          <li class="mistake">
            <p>Errores:</p>
            <span>0</span>
          </li>
          <li class="wpm">
            <p>Palabras por minuto:</p>
            <span>0</span>
          </li>
          <li class="cpm">
            <p>Teclas correctas:</p>
            <span>0</span>
          </li>
        </ul>
        <button>Intentalo de nuevo</button>
      </div>
    </div>
  </div>
  <div class="hands">
    <img id="ii" src="{{ url_for('img', path='/manos/1.png') }}" width="80" alt="LOGO">
    <img id="id" src="{{ url_for('img', path='/manos/2.png') }}" width="80" alt="LOGO2">
  </div>
  <div id="container">
    <div class="select">
      <label for="videoSource">Dispositivo: </label><select id="videoSource"></select>
      <input type="number" id="inputValue" value="100" step="1" min="0" pattern="\d+(\.\d+)?" required>
    </div>
    <div class="media">
      <video id="video" autoplay="true" playsinline="true"></video>
    </div>
  </div>
  <script src="/static/js/paragraph.js"></script>
  <script src="/static/js/index.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"
    integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe"
    crossorigin="anonymous"></script>

</body>

</html>