<!DOCTYPE html>
<html lang="en">

<head>
    <!--<link href="{{ url_for('static', path='/css/inicio.css') }}" rel="stylesheet">--> 
    <link rel="stylesheet" href="/static/css/inicio.css"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!---->
    <!--<link rel="icon" href="{{ url_for('static', path='/img/LOGO.png') }}" type="image/x-icon">-->
    <link rel="icon" href="/static/img/LOGO.png/" >
    <title>FastKey</title>
</head>

<body>
    <nav class="navbar">
        <span id="navbar-toggle">
            <i class="fas fa-bars"></i>
        </span>
        <!--<a href="#" id="logo"><img src="{{ url_for('static', path='/img/LOGO.png') }}" alt="LOGO"></a>-->
        <a href="#" id="logo"><img src="/static/img/LOGO.png" alt="LOGO"></a>
        <ul id="main-nav">
            <li>
                <a href="/signup" class="nav-links">Iniciar sesión</a>
            </li>
        </ul>
    </nav>

    <div class="header">
        <div class="inner-header flex">
            <h1 class="texto">
                <div id="automatic-typing"></div>
            </h1>
        </div>
        <button onclick="window.location.href='/signup';" class="button-36" role="button">Iniciar</button>
        <!--Header box ends-->
    </div>
    <div>
        <!--Waves-->
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave"
                    d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
        </svg>
    </div>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"
        integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe"
        crossorigin="anonymous"></script>
    <script src="/static/js/inicio.js"></script>
</body>

</html>